<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Moneybook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NotificationService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>767D880F1DEA61490029B5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D4F44E1DD2A75100F6FDA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D4F4621DD2A75100F6FDA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D4F46D1DD2A75100F6FDA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
